@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: black;
}

header nav {
  background-color: rgba(20, 20, 20, 0.8901960784);
  height: 80px;
  padding: 27px 0px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .container .nav_center ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 40px;
  list-style: none;
}
header nav .container .nav_right button {
  width: 120px;
  height: 40px;
  background: rgba(255, 102, 0, 0.3019607843);
  border: 2px solid #ff6600;
  color: white;
  box-shadow: 0px 0px 40px 0px rgba(255, 102, 0, 0.3019607843);
  transform: scale(1.05);
}
header nav .container .nav_right button:active {
  transform: scale(0.95);
}
header nav .container .nav_right select {
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
  margin-left: 15px;
  text-decoration: underline;
}
header .hero {
  margin-top: 0px;
  padding: 100px 0px;
  background-image: url(../imgs/hero_back.svg);
  height: 600px;
  background-color: #141414;
  background-repeat: no-repeat;
}
header .hero .container .hero_left {
  color: white;
}
header .hero .container .hero_left .icons {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}
header .hero .container .hero_left .icons .left {
  border: 2px solid white;
  padding: 12px 15px;
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
  transform: scale(1.05);
}
header .hero .container .hero_left .icons .right {
  border: 2px solid white;
  padding: 12px 15px;
  font-size: 20px;
  color: #fff;
  border-radius: 30px;
  transform: scale(1.05);
}
header .hero .container .hero_left .left:active {
  border: 2px solid #ff6600;
  transform: scale(0.95);
  color: #ff6600;
}
header .hero .container .hero_left .right:active {
  transform: scale(0.95);
  color: #ff6600;
  border: 2px solid #ff6600;
}
header .hero .container .hero_left .name h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
header .hero .container .hero_left .info p {
  font-size: 20px;
}
header .hero .container .hero_left .btn button {
  width: 160px;
  height: 40px;
  background: rgba(255, 102, 0, 0.4);
  color: white;
  box-shadow: 0px 0px 40px 0px rgba(255, 102, 0, 0.3019607843);
  margin-top: 35px;
  border: 2px solid #ff6600;
}
header .hero .container .hero_left .spans {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
header .hero .container .hero_left .spans .spn {
  background-color: rgba(255, 255, 255, 0.2509803922);
  border-radius: 50%;
  padding: 6px;
}

main .s1 {
  background-color: #141414;
}
main .s1 .container {
  padding: 50px 0px;
}
main .s1 .container .s1_left {
  margin-top: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .s1 .container .s1_left p {
  font-size: 17px;
}
main .s1 .container .s1_left button {
  width: 160px;
  height: 40px;
  background: rgba(255, 102, 0, 0.4);
  border: 1px solid #ff6600;
  box-shadow: 0px 0px 40px 0px rgba(255, 102, 0, 0.3019607843);
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
}
main .s1 .container .s1_left button i {
  margin-right: 8px;
}
main .s1 .line {
  margin-left: -120px;
}
main .s2 {
  background-color: #141414;
}
main .s2 i {
  color: #ff6600;
  font-size: 50px;
}
main .s2 .container {
  margin-top: -40px;
  color: white;
}
main .s2 .container .s2_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
main .s2 .container .s2_cards .s2_card {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
main .s2 .container .s2_cards .s2_card h2 {
  margin-bottom: 10px;
}
main .s2 .container .s2_cards .s2_card p {
  color: rgba(255, 255, 255, 0.5019607843);
  line-height: 24.6px;
  font-weight: 400;
}
main .s2 .line2 {
  margin-left: 600px;
}
main .s3 {
  background-color: #141414;
}
main .s3 .container p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5019607843);
  line-height: 25.4px;
  margin-top: 15px;
}
main .s3 .container .people {
  width: 150px;
  height: 210px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  gap: 30px;
}
main .s3 .container .people .p1 {
  transition: all 0.3s ease;
}
main .s3 .container .people .p1 h2 {
  margin-top: 10px;
  text-align: center;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
main .s3 .container .people .p1 h2 span {
  font-weight: 500;
}
main .s3 .container .people .p1:hover {
  transform: scale(1.1);
  padding-bottom: 20px;
}
main .s3 .container .s3_bottom {
  margin-top: 50px;
}
main .s3 .container .s3_bottom .s3_info {
  margin-top: 30px;
  display: flex;
  gap: 60px;
}
main .s3 .container .s3_bottom .s3_info h2 {
  color: #ffffff;
  font-weight: 500;
}
main .s3 .line3 {
  margin-top: 70px;
}
main .s4 {
  background-color: #141414;
  padding-bottom: 20px;
}
main .s4 .news {
  display: flex;
  gap: 40px;
}
main .s4 .container .s4_imgs .icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
main .s4 .container .s4_imgs .icons .s4_img1 {
  width: 320px;
  height: 351px;
}
main .s4 .container .s4_imgs .icons .s4_img1 img {
  margin-bottom: 16px;
}
main .s4 .container .s4_imgs .icons .s4_img1 h2 {
  font-size: 20px;
  color: #ffffff;
}
main .s4 .container .s4_imgs .icons .s4_img1 h3 {
  color: #ff6600;
  font-size: 12px;
  display: flex;
  align-items: center;
}
main .s4 .container .s4_imgs .icons .s4_img1 h3 i {
  color: #ff6600;
  width: 4.44px;
  height: 8px;
  font-size: 13px;
  border: none;
  margin-left: 5px;
}
main .s4 .container .s4_imgs .icons .s4_img1 .n1 {
  margin-top: 35px;
}
main .s4 .container .s4_imgs .icons .s4_img1 .n2 {
  margin-top: 10px;
}
main .s4 .container .s4_imgs .icons .s4_img1 .n3 {
  margin-top: 35px;
}
main .left22 {
  margin-top: 70px;
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.5019607843);
  border: 3px solid rgba(255, 255, 255, 0.5019607843);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
main .left22:active {
  color: #ff6600;
  border: 3px solid #ff6600;
  transform: scale(0.95);
}
main .right22 {
  margin-top: 70px;
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.5019607843);
  border: 3px solid rgba(255, 255, 255, 0.5019607843);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
main .right22:active {
  color: #ff6600;
  border: 3px solid #ff6600;
  transform: scale(0.95);
}

.spn {
  color: rgba(255, 255, 255, 0.5019607843);
  border: 3px solid rgba(255, 255, 255, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: scale(1.05);
  color: #ffffff;
}

.spn:active {
  color: #ff6600;
  transform: scale(0.95);
  bottom: 3px solid #ff6600;
}

li,
select,
i,
button {
  cursor: pointer;
}

.scrollTop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0px;
  background-color: rgb(244, 158, 101);
  bottom: 0px;
  display: flex;
  align-items: center;
  transform: scale(0);
  justify-content: center;
  transition: all 0.4s ease;
  border-radius: 30px;
}
.scrollTop i {
  font-size: 25px;
  color: #ff6600;
}
.scrollTop:hover {
  background-color: #ff6600;
}
.scrollTop:hover i {
  color: white;
}

.scrollTop.active {
  display: flex;
  transform: scale(1);
  right: 40px;
  bottom: 40px;
}

.navbar.active {
  position: fixed;
  width: 100%;
}

.nums {
  display: flex;
  gap: 30px;
  margin: 20px 0px;
  justify-content: center;
}
.nums .dot {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  padding: 5px;
}

.dot.active {
  color: #ff6600;
  border-bottom: #ff6600 solid 2px;
  transform: scale(1.2);
  padding: 0px 4px;
}/*# sourceMappingURL=main.css.map */